<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>spcplay-macos</string>
    <key>CFBundleIdentifier</key>
    <string>local.codex.spcplay.macos</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>spcplay macOS</string>
    <key>CFBundleIconFile</key>
    <string>spcplay</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>SNES SPC700 Sound File</string>
            <key>CFBundleTypeIconFile</key>
            <string>spcplay</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>local.codex.spcplay.spc</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>spc</string>
                <string>sp0</string>
                <string>sp1</string>
                <string>sp2</string>
                <string>sp3</string>
                <string>sp4</string>
                <string>sp5</string>
                <string>sp6</string>
                <string>sp7</string>
                <string>sp8</string>
                <string>sp9</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>SPCplay Playlist</string>
            <key>CFBundleTypeIconFile</key>
            <string>spcplay</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>local.codex.spcplay.playlist</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>lst</string>
            </array>
        </dict>
    </array>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>local.codex.spcplay.spc</string>
            <key>UTTypeDescription</key>
            <string>SNES SPC700 Sound File</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.audio</string>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>spc</string>
                    <string>sp0</string>
                    <string>sp1</string>
                    <string>sp2</string>
                    <string>sp3</string>
                    <string>sp4</string>
                    <string>sp5</string>
                    <string>sp6</string>
                    <string>sp7</string>
                    <string>sp8</string>
                    <string>sp9</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>local.codex.spcplay.playlist</string>
            <key>UTTypeDescription</key>
            <string>SPCplay Playlist</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>lst</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
